
<br/>
<div class="col-md-8">


<br/>
<table>
  <tr>
    <td>
        {{input class="form-control" value=query}}
    </td>

    <td>
        <button {{action 'sorgula'}} class="btn btn-default">Sorgula</button>
    </td>
  </tr>
</table>

</div>

{{yield}}
