<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to "kitap" class="navbar-brand"}}Anasayfa{{/link-to}}
  {{#link-to "ekle" class="navbar-brand"}}Ekle{{/link-to}}


</nav>
{{outlet}}
